<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<body>
  <!-- Header -->
  <% if (userLogged) { %>
    <%- include('./partials/headerLogueado', { data: { usuario: userLogged } }) %>
  <% } else { %>
    <%- include('./partials/header') %>
  <% } %>
  <!-- /Header -->

  <!-- Resultados de búsqueda -->
  <div class="container products-wrapper">
    <div class="row">
      <div class="col-12">
        <h2 class="products-title">Resultados de búsqueda</h2>
      </div>

      <% if (mensaje) { %>
        <p class="mensaje-sin-resultados"><%= mensaje %></p>
      <% } else { %>
        <% for (let p = 0; p < data.productos.length; p++) { %>
          <div class="container products-wrapper">
            <div class="d-flex align-items-center">
              <h2 class="products-title"><%= data.productos[p].nombre %></h2>
              <p class="product-detail-description">
                <a href="/productos/<%= data.productos[p].id %>">Ver detalle</a>
              </p>
            </div>
            <div class="product-detail">
              <div class="row">
                <article class="col-12 col-lg-8 product-detail-info">
                  <img src="/images/products/<%= data.productos[p].imagen %>" alt="Producto" class="product-detail-img">
                  <p class="product-detail-description"><%= data.productos[p].descripcion %></p>
                  <p class="product-detail-autor">Publicado por: <%= data.productos[p].usuario.email %></p>
                </article>
              </div>
            </div>
          </div>
        <% } %>
      <% } %>

    </div>
  </div>

  <!-- footer -->
  <%- include('./partials/footer') %>
  <!-- /footer -->
</body>
</html>
